@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #6C33A6 0%, #A070D0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #f0f8ff;
}

.right-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ba54dae0;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #1a0d29c5;
}

.card1 > h1 {
    color: #ffffff;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    margin: 9px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #d0bbe6;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #1a0d29c5;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #ffffff;
    margin-bottom: 10px;

}

.textfield > input::placeholder {
    color: #050505;
    
}

.button-login {
    width: 100%;
    padding: 16px 0px;
    margin: 20px 0px;
    border: none;
    border-radius: 8px;
    font-size: 12pt;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ba54dae0;
    background: #e9e6e6;
    cursor: pointer;
    box-shadow: 0px 9px 40px -13px #eeeaea;
    
}








